<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:Event/etc/events.xsd'
>
	<event name='controller_action_predispatch_realexpayments_hpp_process_process'>
		<observer instance='TFC\Realex\Observer\Predispatch\Departure' name='TFC\Realex\Observer\Predispatch\Departure'/>
	</event>
</config>